apiVersion: apps/v1
kind: Deployment
metadata:
  name: tezos-network-monitor
spec:
  selector:
    matchLabels:
      app: tezos-network-monitor
  replicas: 1
  template:
    metadata:
      labels:
        app: tezos-network-monitor
    spec:
      securityContext:
        fsGroup: 100
      containers:
      - name: tezos-network-monitor
        image: tezos-network-monitor
        resources:
          limits:
            cpu: 0
        envFrom:
        - configMapRef:
            name: tezos-network-monitor-configmap
