bases:
- ./../auxiliary-cluster-base
nameSuffix: -${bakername}
imageTags:

  - name: website-builder
    newName: gcr.io/${project}/website-builder
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-network-monitor
    newName: gcr.io/${project}/tezos-network-monitor
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-archive-reconstructor
    newName: gcr.io/${project}/tezos-archive-reconstructor
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-snapshot-downloader
    newName: gcr.io/${project}/tezos-snapshot-downloader
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-node-with-probes
    newName: gcr.io/${project}/tezos-node-with-probes
    newTag: ${kubernetes_namespace}-latest
  - name: payout-cron
    newName: gcr.io/${project}/payout-cron
    newTag: ${kubernetes_namespace}-latest

configMapGenerator:
- name: tezos-network-monitor-configmap
  literals:
  - NODE_URL="http://${kubernetes_name_prefix}-tezos-public-node-0.${kubernetes_name_prefix}-tezos-public-node:8732"
  - SLACK_URL="${slack_url}"
  - SLACK_CHANNEL="${slack_channel}"
  - HOT_WALLET_PUBLIC_KEY="${hot_wallet_public_key}" 
  - PUBLIC_BAKING_KEY="${public_baking_key}"
- name: website-builder-configmap
  literals:
  - WEBSITE_ARCHIVE="${website_archive}"
  - PAYOUT_URL="http://payout-json/payouts.json"
  - GOOGLE_APPLICATION_CREDENTIALS="/var/secrets/google/json_key"
  - PAYOUT_DELAY="${ payout_delay }"
  - FIREBASE_TOKEN="${ firebase_token }"
  - FIREBASE_PROJECT="${ firebase_project }"

patchesStrategicMerge:
- nodepool-monitor.yaml
