bases:
- ./../auxiliary-cluster-base
nameSuffix: -${bakername}
imageTags:

  - name: website-builder
    newName: gcr.io/${project}/website-builder
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-network-monitor
    newName: gcr.io/${project}/tezos-network-monitor
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-archive-reconstructor
    newName: gcr.io/${project}/tezos-archive-reconstructor
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-snapshot-downloader
    newName: gcr.io/${project}/tezos-snapshot-downloader
    newTag: ${kubernetes_namespace}-latest
  - name: tezos-node-with-probes
    newName: gcr.io/${project}/tezos-node-with-probes
    newTag: ${kubernetes_namespace}-latest
  - name: payout-cron
    newName: gcr.io/${project}/payout-cron
    newTag: ${kubernetes_namespace}-latest

configMapGenerator:
- name: tezos-network-monitor-configmap
  literals:
  - NODE_URL="http://${kubernetes_name_prefix}-tezos-public-node-0.${kubernetes_name_prefix}-tezos-public-node:8732"
  - SLACK_URL="${slack_url}"
  - SLACK_CHANNEL="${slack_channel}"
  - HOT_WALLET_PUBLIC_KEY="${hot_wallet_public_key}" 
  - PUBLIC_BAKING_KEY="${public_baking_key}"
- name: backerei-payout-configmap
  literals:
  - PROTOCOL_SHORT="${protocol_short}"
  - PUBLIC_BAKING_KEY="${public_baking_key}"
  - HOT_WALLET_PUBLIC_KEY="${hot_wallet_public_key}"
  - HOT_WALLET_PRIVATE_KEY="${hot_wallet_private_key}"
  - SNAPSHOT_INTERVAL="${ tezos_network == "mainnet" ? 256 : 128 }"
  - CYCLE_LENGTH="${ tezos_network == "mainnet" ? 4096 : 2048 }"
  - PRESERVED_CYCLES="${ tezos_network == "mainnet" ? 5 : 3 }"
  - PAYOUT_DELAY="${ payout_delay }"
  - PAYOUT_FEE="${ payout_fee }"
  - PAYOUT_STARTING_CYCLE="${ payout_starting_cycle }"
  - WITNESS_PAYOUT_ADDRESS="${witness_payout_address}"
  - KUBERNETES_NAME_PREFIX="${kubernetes_name_prefix}"
  - DRY_RUN="${dry_run}"
- name: website-builder-configmap
  literals:
  - WEBSITE_ARCHIVE="${website_archive}"
  - PAYOUT_URL="http://payout-json/payouts.json"
  - GOOGLE_APPLICATION_CREDENTIALS="/var/secrets/google/json_key"
  - PAYOUT_DELAY="${ payout_delay }"
  - FIREBASE_TOKEN="${ firebase_token }"
  - FIREBASE_PROJECT="${ firebase_project }"

patchesStrategicMerge:
- crontime.yaml
- nodepool.yaml
- nodepool-monitor.yaml
